<div id="jplayer_$player" class="jp-jplayer"></div>
<div id="jcontainer_$player" class="jp-audio" role="application" aria-label="media player">
    <div class="jp-type-single">
		<div class="jp-details">
			<div class="jp-title" aria-label="title">&nbsp;</div>
		</div>
		<div class="jp-gui jp-interface">			
			<div class="jp-controls-holder">
				<div class="jp-controls">
					<button class="jp-play" role="button" tabindex="0"></button>
					<button class="jp-stop" role="button" tabindex="0"></button>
				</div>
				<div class="jp-progress">
					<div class="jp-seek-bar">
						<div class="jp-play-bar"></div>
					</div>
				<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
				<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
				</div>
				<!--
				<div class="jp-toggles">
					<button class="jp-repeat" role="button" tabindex="0">repeat</button>
				</div>
				-->
                                <div class="jp-volume-controls">
				<!--
				<button class="jp-mute" role="button" tabindex="0"></button>
				<button class="jp-volume-max" role="button" tabindex="0"></button>
				-->
				<div class="jp-volume-bar">
					<div class="jp-volume-bar-value"></div>
				</div>
			</div>
			</div>
		</div>
		<div class="jp-no-solution">
			$phonodocUnitView_noaudio
		</div>
    </div>
</div>
<div class="audio-player" hidden="" data-player="#jplayer_$player" data-container="#jcontainer_$player" data-file="$audiofile" data-title="$!title">
</div>
