/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.10.2015, 2:06:23
    Author     : shapovalova
*/

.ann_tab.card_tab{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 95%;
    max-height:420px;
    display:block;
    overflow-y:auto;
}
.ann_tab th{
    background-color:#F1DCA6;
    font-weight:bold;
}
.ann_tab tr{
    font-size:12px;
}
.ann_tab tr:nth-child(2n){
    background-color:#FFECD1;
}
.cntr-align{
    text-align:center;
}
.card-cl .card_page > .x-toolbar > .x-box-inner .x-box-target > span.x-component{
    position:relative !important;
    display: block;
    width:calc(100% - 80px);
    text-align:center;
    color:#a91010;
    font-size:14px;
    font-weight:bold;
}
.phondoc_unit{
    display:table;
}
.ann_tab .jp-details {
    display: none;
}
.jp-controls button[disabled],
.noactive{
    opacity:.3;
}
.jp-controls button[disabled]:hover,
.noactive:hover{
    cursor: default;
}