.back{
	background:url(../images/img/title_bg.png) repeat-x !important;
	position:absolute;
	height:100%;
	width:100%;
	top:0;
}
.content{
	margin:auto;
	width:100%;
	text-align:center;
}
h1{
	margin-top:20%;
}
p{
	width:100%;
}
ul{
	list-style:none outside none;
    margin-top:30px;
    text-align:left;
}
li{
    padding-bottom:15px;
}
li a{
    display:inline-block;
    height:30px;
    margin:-30px 0 0 30px;
    vertical-align:middle;
}