.x-datepicker{
	border:1px solid #A91010;
}
.x-datepicker-header{
	background-color: #A91010 !important;
	background-image: none !important;
}
.x-datepicker-prev a,
.x-monthpicker-yearnav-prev,
.x-datepicker-prev{
    background-image:none;
    background:url(../images/img/previous.png) no-repeat !important;
    opacity:1;
}
.x-datepicker-next a,
.x-monthpicker-yearnav-next,
.x-datepicker-next{
	background-image:none;
	background: url(../images/img/next.png) no-repeat !important;
    opacity:1;
}
.x-datepicker-footer, .x-monthpicker-buttons,
table.x-datepicker-inner th,
.x-monthpicker-item a.x-monthpicker-selected{
	background-color: #F1DCA6 !important;
    background-image: none !important;
    border-top: 1px solid #DCBB67;
    border-bottom:1px solid #DCBB67;
    border-color:#DCBB67;
}
table.x-datepicker-inner .x-datepicker-selected a,
table.x-datepicker-inner a:hover,
.x-monthpicker-item a:hover{
	background-color: #F1DCA6;
}
.x-datepicker-month button{
	width: 75px;
	left: -5px;
}
.x-datepicker-month button:hover,
.x-datepicker-month .x-btn-center:hover,
.x-datepicker-month .x-btn:hover{
	background-color: #A91010 !important;
    background-image: none !important;
    border-color: none !important;
    height: 15px !important;
}
.x-datepicker-month .x-btn-split-right,
.x-datepicker-month .x-btn-split-right{
	margin-right: -15px;
}
.x-monthpicker-months{
	border-right: 1px solid #F1DCA6;
}
.x-monthpicker-item a{
	color:#000;
}
.x-datepicker-month .x-btn:hover{
	height:22px !important;
}
.x-datepicker-month .x-btn{
	width:81px !important;
	background-image:none !important;
}