.thumb {
    padding-bottom: 3px;
}
.thumb img{
    max-height:150px;
    border:1px solid #DCBB67;
}
.thumb-wrap{
    box-sizing:border-box;
    float: left;
    margin: 4px;
    margin-right: 1px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    height:210px;
}
.thumb-wrap:hover{
    background: #F8EDD2;
    /*border:1px solid #F1DCA6;*/
}
.thumb-wrap span{
    display: block;
    margin:2px auto;
    /*width: 86px;  for ie to ensure that the text is centered */
    font:bold 12px Times New Roman;
    max-width: 150px;  
    overflow:hidden;
    word-wrap: break-word;
}
.thumb-wrap span:hover{
    background-color:#F8EDD2;
    overflow:visible;
    white-space:normal;
    position:relative;
    z-index:10000000;
}
.x-item-over{
    border:1px solid #dddddd;
    padding: 4px;
}
.x-item-selected{
    background: #F1DCA6; /* url(../images/selected.gif) no-repeat right bottom;*/
    border:1px solid #DCBB67;
    padding: 4px;
}
.x-item-selected .thumb{
    background:transparent;
}
.loading-indicator {
    font-size:11px;
    background-image:url('../images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}
.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}
.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}
.x-window{
	position: fixed !important;
	border: 1px solid #DCBB67 !important;
}
.x-closable{
	left: 10%;
    top: 5% !important;
/*	height: 80% !important;*/
    width: 90%;
    background: url("../images/img/background.png") repeat !important;
}
.x-window-body-closable{
	text-align: center;
    vertical-align: middle !important;
}
.x-window-body-closable .x-layout-fit,
.x-window label.x-window-item{
    margin-top:0px !important;
}
.x-window-body-closable img{
    vertical-align: middle !important;
    width: 90% !important;
}
.x-window-body-closable p img{
	width: auto !important;
}
.descVal .x-window-body-closable img{
	width: 25px !important;
}
.red-font{
	color:#B92929 !important;
}