.booklist{
	background:url(../images/img/menu_descr.png) !important;
	display:block;
	height:30px;
	text-align:center;
}
.ebook_list_cont{
	height:380px;
	overflow-y:auto;
}
.list_books{
	background:url(../images/img/elib_bg.png);
	display:block;
	zoom: 1;
}
.list_books tbody{
	display: inline-block;
    width: 100%;
}
.list_books tr{
	display:block;
	margin:10px 20px;
	width:95%;
}
.col-1{
    display:inline-block;
    float:left;
    width:100px;
	margin-right:15px;
}
.col-2{
	background:url(../images/img/book_desc_bg.png) repeat-y;
	background-size:100% auto;
	border:1px solid #D0990D; 
	padding:10px;   
	display: block !important;
	margin-left:120px;
	min-height: 170px;
}
.col-1 .thumb{
	display: table-cell;
    height: 170px;
    padding-bottom: 3px;
    vertical-align: middle;
    text-align:center;
}
.list_books img{
	max-height: 150px;
    max-width: 100px;
}
.list_books .x-btn{
	width:85px;
	height:22px !important;
	color:#fff;
	font-size:13px;
	text-decoration:none;
	text-align:center;
	left: 90%;
	top:-20px;
}
.search_style .elib_list tr td input{
	margin-left: 0px;
}
.elib_list{
    width:calc(100% - 17px) !important;
}
.elib_list .x-toolbar-default .x-btn
/*.card_page .x-btn*/{
	background:none !important;
}
.search_style .ebook-list-grid .x-btn,
.ebook-list-grid .x-btn{
	background: none !important;
	width:24px !important;
}
.attr_book tr{
	height:auto;
	display: table-row !important;
	zoom: 1;
}
.attr_name{
	max-width:200px;
	color:#A91010;
	font:bold 14px Tahoma;
	padding:3px 20px 0;
}

/*navigation #10363*/
body:first-of-type .elib_list .x-toolbar{
    width:100% !important;
}
.elib_list .x-toolbar{
    width:5% !important;
}
.elib_list .x-toolbar .x-box-inner .x-toolbar-text-default:last-child,
.srch_res .x-toolbar .x-box-inner .x-toolbar-text-default:last-child,
.card_page .x-toolbar .x-box-inner .x-toolbar-text-default:last-child{
    left:300px !important;    
}
/**/
