.foot a,
.foot p{
	transform:skewX(30deg);
	-ms-transform: skewX(30deg);
        -moz-transform: skewX(30deg);
	-o-transform: skewX(30deg);
	-webkit-transform: skewX(30deg);
}
html:not([lang*=""]):not(:only-child) .x-container .news_block,
html:not([lang*=""]):not(:only-child) .news_block_r{
	background-color:#F4E3B8 !important;
	border:1px solid #990B0B;
	min-height: 50px;
}
html:not([lang*=""]):not(:only-child) .x-container .news_block,
html:not([lang*=""]):not(:only-child) .login_box,
html:not([lang*=""]):not(:only-child) .news_block_r  {
	height:auto !important;
}
html:not([lang*=""]):not(:only-child) .news_block h1,
html:not([lang*=""]):not(:only-child) .news_block_r h1 {
	background-color:#DCBB67;
	color:#000;
	border:none;
	height: 40px;
}
html:not([lang*=""]):not(:only-child) .news_block_r h1{
	padding:8px 0px;
	margin-bottom:0;
}
html:not([lang*=""]):not(:only-child) .news_block h1{
	padding:8px 5px;
}
html:not([lang*=""]):not(:only-child) .login_box .x-panel-header {
	background-color:#A91010 !important;
	height:33px;
	padding: 7px 10px;
}
html:not([lang*=""]):not(:only-child) .login_box .x-panel-body,
html:not([lang*=""]):not(:only-child) .login_box .x-toolbar {
	background-color:#C31515 !important;
	opacity:1;
}
html:not([lang*=""]):not(:only-child) .x-container .news_block p,
html:not([lang*=""]):not(:only-child) .news_block a,
.news_block_r h1 p{
    padding: 0px 25px;
}
.news_block p, .news_block_r p{
    text-align:left;
}
.news_block p, .news_block_r p,
.news_block h1, .news_block_r h1{
    margin-top:0 !important;
}
html:not([lang*=""]):not(:only-child) .login_box label{
	margin-left: 0px;
    padding: 5px 20px 0 0;
}
html:not([lang*=""]):not(:only-child) .login_box span{
	padding:0 !important;
}
html:not([lang*=""]):not(:only-child) .login_box{
	height: 200px !important;
	width: 300px;
}

html:not([lang*=""]):not(:only-child) .login_box .x-toolbar button span{
	padding-top:1px !Important;
}
html:not([lang*=""]):not(:only-child) .search_style .ebook-list-grid tr td .x-form-field{
	margin-left: 0 !important;
}

/*ошибка с исчезновением красной полосы в сафари*/
@media screen and ( -webkit-min-device-pixel-ratio : 0 ) { 
    div.srch_all,
    div.srch{
        position:relative !important;
        margin-right:0 !important;
    }
    div.title_{
        padding-top:0;
        background-size:auto 400px !important;
        background-position:0 50px !important;
    }
    .x-body.x-webkit.x-chrome{
        margin-top:-50px;
    }
    .title_ ~ .x-panel.srch_res{
        margin-top:0px !important;
    }
    .tem-child-cl .title_ ~ .x-panel.srch_res{
        margin-top:-25px !important;
    }
    .feedback_cls{
        margin-top:-60px;
    }
    div.exh_cls.text_n{
        width:93% !important;
        margin-right:75px;
    }
    .text_n table.news_tb{
        margin-right:0 !important;
        width:99%;
    }
    div.news_cls{
            margin-right:80px;
    }
    div.foot{
        right:70px;
        left:-5px;
    }
    div.x-container.search_style.x-abs-layout-item{
        margin-top:0;
    }
}
.x-safari.x-body{
    margin-top:-50px;
}