/*.search_style tr td input[name="combo"]{
	width: 158px !important;
}
.search_style tr td input{
	margin-left: 20px;
}
.search_style .x-form-trigger{
	position: relative;
	margin-left: -55px;
}
.search_style fieldset tr td .x-form-field{
	width: 140px !important;
}
.search_style .arch_search .x-form-trigger{
	margin-left: -11px\9;
	*margin-left: 12px;
	margin-left: -20px;
}*/
.x-trigger-cell{
	width: 17px !important;
}