.x-body{
	/*font:15px Times new roman !important;*/
	font:15px Tahoma, sans-serif !important;
}
h1{
	/*font:bold 15pt Times new roman serif;*/
	font:bold 14px Tahoma, sans-serif !important;
	padding-top:11px !important;
}
h2{
	/*font:bold 17px Times new roman serif !important;*/
	font:bold 17px Tahoma, sans-serif !important;
}
.x-boundlist{
	font: 14px tahoma;
}
.title_{
    font: bold italic 24pt Tahoma, sans-serif !important;
    color:#B20E0E;
    text-align: right;
    text-shadow: 2px 2px #DCBB67;
}
.title_ a {
    color: #000000;
    font: bold 14px Tahoma;
    text-decoration: none;
    text-shadow: none;
}
.search_style label{
	font-size: 14px;
}
.search_style .x-component-default{
	font-weight:normal;
}
.search_style .x-fieldset-header-text{
	color: #B20E0E;
	font: bold 10pt sans-serif;
}
.srch_link a,
.srch_esc a{
	font:12px Tahoma, sans-serf !important;
	text-decoration:underline;
}
.x-container .news_block, 
.login_box, 
.news_block_r{
    font-size: 13px !important;
    text-align:left;
}
.news_cls td b,
.news_tb td b {
	color:#B20E0E;
	font-size:13px;
	text-align: center !important;
}
.nsa td b i,
.text_n td b i{
	font-size: 22px;
}
.news_tb li,
.nsa ul{
	font-size: 15px;
}
.text_n p{
	/*font: 15px Times new roman, serif;*/
}
.news_cls i{
	font-size:16px;
}
.news_cls b i{
	font-size:17px;
}
.news_chap blockquote div i{
	color:#A91010;
	font-weight:bold;
	padding: 20px;
}
.news_chap blockquote div b,
.news_chap blockquote div b i{	
    font-weight: bold;
}
.tematicChapters p a,
.tematicChapters div{
	font:bold 14px Tahoma;
}
.card_tab td,
.card_tab th{
    font: 14px tahoma;
}
.gridHeaderBaseCls,
.booklist,
.x-panel-header-text-container{
	font:bold 14px tahoma, sans-serif !important;
}
.x-panel-header-text-container span.x-panel-header-text{
    color:#A91010;
}
.x-abs-layout-item > .x-panel-header .x-panel-header-text-container{
    text-align:center;
}
.x-abs-layout-item > .x-panel-header .x-panel-header-text{
    color:#000;
}
.gridHeaderBaseCls-text-container{
	text-align:center !important;
	font-weight: bold;
}
.childsGridParentLabel{
	font-weight:bold;
	font-size:13px;
}
.srch_res .x-grid-row .x-grid-cell{
	font: 15px sans-serif !important;
	vertical-align:middle;
}
.srch_res .x-grid-cell-inner{
        white-space:normal;
}
/*.srch_res */.x-panel-body-default,
/*.srch_res */.x-grid-view-default{
	font: bold 12pt sans-serif !important;
}
.x-column-header{
	color:#A91010 !important;
	text-align:center !important;
	font: bold 13px sans-serif !important;	
}
.list_books,
.x-toolbar{
	font-family:tahoma, sans-serif !important;
}
.x-toolbar a{
	font:bold 12px Tahoma, sans-serif;
}
.card div h2{
    font: bold 12pt sans-serif !important;
}
.card .link_panel{	
	font:bold 9pt Tahoma;
}
.card .link_panel a{
	font-style:italic;
}
.card_tab td:first-child,
.card_tab.appl tr.appl_header td{
    font-weight: bold;
    word-wrap: break-word;
}
.card_tab.appl td:first-child{
    font-weight: normal;
}
.card_tab td p{
	word-wrap: break-word;
    font-weight: normal;
}
.foot{
	font:14px tahoma;
}
.foot b{	
    font-style: normal;
    font-weight: normal;
}
.x-window label {
	font-weight: bold;
}
.descVal,
.x-window-header,
.descVal .x-box-inner,
.x-window-body,
.descVal .x-panel-header,
.descVal .x-panel-header-text-default,
.descVal .x-fit-item{	
	font:bold 15px sans-serif; 
}
.x-window-header-text{
	color:#C31515;
	font: bold 12pt sans-serif;
}
.descVal label{
	font: 10pt sans-serif;
}
/*----*/
.news_block p, .news_block_r p{
	padding-top: 2px;
}
.centr_align{
    text-align:center !important;
}
.x-tbar-page-number input.x-form-text,
.x-toolbar .x-box-inner .x-toolbar-text-default{
    font-size:14px;
}