.x-toolbar .childsGridButtons_up-center,
.x-toolbar .back_res/* .x-btn-center*/, 
.x-toolbar .back_res.x-btn:hover, 
.x-toolbar .back_res.x-btn-over,
.srch_res .x-toolbar .childsGridButtons_up-center,
.srch_res .x-toolbar .back_res/* .x-btn-center*/, 
.srch_res .x-toolbar .back_res.x-btn:hover, 
.srch_res .x-toolbar .back_res.x-btn-over{
	background:url(../images/img/back.png) no-repeat !important;
	height:24px;
	min-width:24px !important;
	border: none !important;
}
.gridHeaderBaseCls-body a.childsGridButtons_up{
    position:absolute;
    left:0 !important;
    font-size:12px;
}
.childsGridButtons_up-center,
.childsGridButtons-center,
.back_res .x-btn-inner,
.img_but .x-btn-inner,
.card_pict .x-btn-inner,
.read_book,
.back_res.x-btn-default-toolbar-small .x-btn-inner,
.img_but.x-btn-default-toolbar-small .x-btn-inner,
.card_pict.x-btn-default-toolbar-small .x-btn-inner{
	color:#A91010 !important;
	text-align: left !important;
	font-weight:bold;
	font-size:13px;
	width: auto !important;
	padding-left:30px;
}
.read_book{
    background:url(../images/img/book_open_3.png) no-repeat !important;
    height:20px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
}
.childsGridButtons-center,
.card_pict, 
.card_pict .x-btn-over,
.card_pict:hover,
.card_pict .x-btn-default-toolbar-small-over{
	background:url(../images/img/view213.png) no-repeat !important;
	height:20px !important;
	border: none !important;
}
.img_but, .img_but:hover, .img_but .x-btn-default-toolbar-small-over{
	background:url(../images/img/camera.png) no-repeat !important;
	height:20px !important;
	border: none !important;
}
.doc_image,
.doc_image .x-grid-view{
    min-height: 50px;
}
.doc_image span{
	color:#A91010;
	margin-left: 20px;
}
.doc_image .x-column-header-inner,
.doc_image .x-grid-view /*th*/{
	border-collapse: collapse;
}
.doc_image .x-tool{
	left:0 !important;
}
.childsGridButtons_up .back_ress-inner-center, 
.x-toolbar .back_res .x-btn-center, 
.x-toolbar .back_res .x-btn:hover, 
.x-toolbar .back_res .x-btn-over{
    background: url("../images/img/back.png") no-repeat !important;
    border: medium none !important;
    height: 24px;
    display:block;
    min-width: 24px !important;
}
.childsGridButtons, 
.childsGridButtons_up .back_ress-inner-center{
    padding-left: 30px !important;
    padding-top: 4px;
}
.childsGridButtons,
.card_pict .x-btn-center,
.card_pict .x-btn-over {
    border: medium none !important;
    height: 20px !important;
    padding-left: 0px !important;
}
.childsGridButtons,
.childsGridParentLabel{
    vertical-align:top;
    padding:0px;
    top:7px !important;
}
.childsGridButtons span{
    font-style:italic;
    text-decoration:underline;
}
.descVal .srch_but,
.descVal .srch_but:hover{
	background: url("../images/img/srch.png") no-repeat !important;
	width:23px;
	margin:3px 0px 0 7px;
}
.descVal .show_tree,
.descVal .show_tree:hover{
	background: url("../images/img/tree_.png") no-repeat !important;
	width:23px;
	margin:3px 0px 0 3px;
}

.x-tip-default,
.x-mask-msg,
.x-mask-msg-inner{
	Background-color:#F8ECCE !important;
	border-color:#D0990D !important;
	font:15px Tahoma,sans-serif !important;
}