@media screen and (min-width:0\0) { 
	.x-box-inner .x-btn.btn_cls,
	.search_style .x-box-inner .x-btn.btn_cls{
		background-image:url(../images/img/btn.png) !important;
	}
	a:visited,
	.srch a:visited{
		background:transparent;
	}
	.menu a.menu_selected,
	.menu a:hover{
		background-color: #C61919 !important;
	}
	.srch_res .x-toolbar .x-btn, 
	.srch_res .x-toolbar .x-btn:hover, 
	.search_style .x-toolbar .x-btn, 
	.search_style .x-toolbar .x-btn:hover{
		 background: none !important;
	}
	.search_style .x-toolbar .add_but, 
	.search_style .x-toolbar .add_but:hover{
		background:url(../images/img/add_3506.png) no-repeat !important;
		width:24px !important;
		height:24px;
	}
	.search_style .del_but,
	.search_style .del_but:hover,  
	.search_style .x-toolbar .del_but_tab,
	.search_style .x-btn.del_but:hover, 
	.search_style  .x-toolbar .del_but_tab:hover{
		background:url(../images/img/deletered_8284.png) no-repeat !important;
		width:16px;
		height:16px;
	    top: 5px !important;
	}
	.x-nlg .x-panel-default .x-toolbar-default,
	.x-nlg .search_style .x-toolbar-default,
	.x-nlg .x-window .x-toolbar-default{
		background-image:none !important;
		background-color:transparent !important;
	}
	.srch .x-box-inner .x-btn-default-small.btn_cls,
	.x-box-inner .x-btn-default-small-over.btn_cls,
	.x-box-inner .x-btn-default-small-over.btn_cls,
	.x-box-inner .x-btn-default-small.btn_cls,
	.card_page .x-toolbar-default,
	.ebook-list-grid .x-toolbar-default,
	.search_style .x-toolbar .btn_cls:hover{
		background:url(../images/img/btn_180.png) !important;
		background-color: transparent !important;
		height:22px !important;
	}
	.x-box-inner .x-btn-default-small.del_but:hover,
	.x-box-inner .del_but.x-btn-default-small-over,
	.del_but:hover,
	/*.search_style .x-btn.btn_cls:hover,*/
	.search_style .x-btn.del_but:hover{
		background-image:url("../images/img/deletered_8284.png") !important;
		background-repeat:no-repeat !important;
	}
	.list_books .x-btn{
		left:160px !important;
		top:5px !important;
	}
	.x-nlg .x-panel-header-top{		
		background:url(../images/img/background.png) !important;
		color:#C31515;
	}
	.card_page .x-toolbar-default-docked-top{
		height:27px !important;
	}
	hr{
		background-color:#958150 !important;
	}
        table.card_tab{
            border-collapse: separate;
            border-spacing: 0;
            border:1px solid #D0990D !important;
        }
	.card div h2{
		margin-top:5px !important;
	}
        .search_style .desc_nsa a.del_but:hover{
            top:15px !important;
        }
        
        .tematic_content .text_n > span{
            margin-right:30px;
            width:auto !important;
        }
}
