noindex:-o-prefocus, .news_block{
	background: url("../images/img/left1.png");
	text-align:left !important;
}
noindex:-o-prefocus, .news_block_r{
	background: url("../images/img/right.png") no-repeat;
	width: 352px !important;
	margin-right:180px !important;
}
noindex:-o-prefocus, .login_box{
	background: url("../images/img/login.png") no-repeat;
    margin: 0 -105px !important;
}

noindex:-o-prefocus, .x-container .news_block p,
noindex:-o-prefocus, .news_block a,
noindex:-o-prefocus, .login_box label,
noindex:-o-prefocus, .login_box span{
	margin-left:30px;
    width: 400px;
}
noindex:-o-prefocus, .news_block {
    margin-left: -130px;
}
noindex:-o-prefocus, .news_block hr {
	width: 300px;
}
noindex:-o-prefocus, .news_block p,
noindex:-o-prefocus, .news_block h1 p{
	padding:0px;
	margin:0px;
	zoom:1;
}
noindex:-o-prefocus, .news_block_r a{
    margin: 15px 15px 15px 135px;
    position: absolute;
    text-align: center;
    width: 150px;
}
noindex:-o-prefocus, .news_block h1{
	text-alighn:left;
}
noindex:-o-prefocus, .news_block_r h1{
	margin: 0px 135px;
	text-alighn:left;
}
noindex:-o-prefocus, .news_block p{
    margin: 0px 0 0px 130px !important;
    *margin: 0px 0 0px 130px !important;
    width: 300px !important;
}
noindex:-o-prefocus, .x-panel-body-default,
noindex:-o-prefocus, .x-panel-header-default,
noindex:-o-prefocus, .x-toolbar-docked-bottom{
	background:transparent !important;
	border:none;
}
noindex:-o-prefocus, .login_box .x-panel-body{
	width: 339px !important;
	left:90px !important;
}
noindex:-o-prefocus, .login_box .x-panel-header{
	left: 120px !important;
}
noindex:-o-prefocus, .center_news {
	left: 440px !important;
	*left: 440px !important;
}
.center_news p{
	*left: 440px !important;
}
.center_news p img{
	float: left;
	margin:5px;
}
noindex:-o-prefocus, .login_box .x-toolbar .x-btn {
	position: relative;
}
noindex:-o-prefocus, .login_box .x-toolbar button span{
	margin-left: -1px;
	position:relative;
	width:50px;
}
html:first-child .srch{
	margin-top:30px !important;
}
html:first-child .srch_all{
	margin-top:30px !important;
}
*:first-child+html .menu a{
	padding:10px 5px;
	zoom:1;
}
noindex:-o-prefocus, div.news_cls{
     margin-right:80px;
}