.x-panel-body-default,
.x-panel-header-default, .x-toolbar-docked-bottom{
    background-image:none !important;
}
.x-panel-body-default,
.x-panel-header-default, .x-toolbar-docked-bottom{
    background-image:none !important;
}
.user_login .login_box .x-btn,
.srch .x-btn{
    background-image:url("../images/img/btn.png") !important;
}
.user_login .login_box .x-btn,
.srch .x-btn{
    background-image:url("../images/img/btn.png") !important;
}
.news_block h1, .news_block_r h1{
	margin:0 !important;
}
.srch .x-box-inner .x-btn-default-small.btn_cls,
.x-box-inner .x-btn-default-small-over.btn_cls,
.x-box-inner .x-btn-default-small-over.btn_cls,
.search_style .x-toolbar .btn_cls.btn_cls,
.x-box-inner .x-btn-default-small.btn_cls,
.card_page .x-toolbar-default,
.ebook-list-grid .x-toolbar-default,
.list_books tr td a.btn_cls:hover{
	background:url(../images/img/btn_180.png) !important;
	background-color: transparent !important;
}
.x-box-inner .x-btn-default-small-over,
.x-box-inner .x-btn-default-small-over:hover,
.search_style .x-toolbar .btn_cls:hover,
.x-box-inner .x-btn-default-small:hover,
.card_page .x-toolbar-default,
.ebook-list-grid .x-toolbar-default,
.list_books tr td a:hover{
	height:20px !important;
}
.list_books tr td a:hover{
	height:22px !important;
}
.search_style .x-toolbar-default-docked-top{
	height:27px !important;
}
.search_style .x-toolbar-default-docked-top .x-box-inner{
	height:27px !important;
}
.search_style .x-btn.del_but:hover{
	background-image:url("../images/img/deletered_8284.png") !important;
	background-repeat:no-repeat !important;
}
.card_page .x-toolbar-default-docked-top{
	height:27px !important;
}
.x-container .news_block_r a{
    margin-left:0px !important;	
}
hr{
	background-color:#958150 !important;
}
.x-datepicker-month a.x-btn,
.x-datepicker-month a.x-btn:hover{
	background-image: none !important;
	height:22px !important;
}

.search_style .desc_nsa a.del_but:hover{
    top:15px !important;
}

/*#8250*/
.list_books tr{
    margin-top:10px;
    margin-bottom:10px;
    zoom:1;
}