.news_block hr{
    background-color:#DCBB67;
    width:260px;
    height:1px;
    border: none;
}
.news_block_r hr{
    display:none;
}
.news_block_r{
    margin-top: 10px !important;
}
.news_block_r div div{
    background-color:#F1DCA6;
    padding:15px;
    margin:10px 15px !important;
    border:1px solid #DCBB67;
}
.news_block p, 
.news_block_r p{
    text-align:justify;
}
.news_block p b,
.news_block_r p b,
.news_block_r a, 
.news_block a{
    color:#A91010;
    font-style: italic;
    text-align:right;
    display:block;
}
.banners_cls{
    margin-top:20px;
    margin-bottom:20px;
}
.banners_cls p{
    float:left;
    margin-left:2px;
}
.center_news{
    max-width:1500px;
    min-height:1200px;
    right:0 !important;
    padding-right:60px;
}
