/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.10.2015, 14:58:27
    Author     : shapovalova
*/
.audio-style {
    display: inline-block;
    vertical-align:top;
    margin-left:10px;
}
.jp-audio{
    width:250px;
}
.jp-audio,
.jp-volume-controls,
.jp-controls-holder,
.jp-controls,
.jp-progress{
    display:inline-block;
    vertical-align: middle;
}
.jp-controls-holder button,
.jp-controls-holder button:hover,
.jp-volume-bar{
    height:21px;
    display:inline-block;
    border:none;    
    background-position: left center;
}
.jp-controls-holder button,
.jp-controls-holder button:hover{
    width:21px;
}
.jp-play,
.jp-play:hover{
    background: url(../images/play.png) no-repeat;
    background-position:6px center !important;
}
.jp-stop,
.jp-stop:hover{
    background: url(../images/stop.png) no-repeat;
}
.jp-play:hover,
.jp-stop:hover,
.jp-seek-bar:hover,
.jp-volume-bar:hover{
    cursor:pointer;
}
.jp-play:hover,
.jp-stop:hover{
    opacity:.7;
}
.jp-volume-controls{
    width:50px;
}
.jp-volume-bar{
    background: url(../images/volume.png) no-repeat;
    //width:30px;
    padding-left:21px;
    margin-top: 5px;
    text-align: left;
    display:block;
}
.jp-volume-bar-value{
    height:5px;
    background-color:#950E0E;
    vertical-align:middle;
    display:inline-block;
    margin-top: 6px;
}
.jp-progress{
    border:1px solid #DCBB67;
    border-box:3px;
    -moz-border-box:3px;
    -webkit-border-box:3px;
    -o-border-box:3px;
    -ms-border-box:3px;
    display: inline-block;
    height: 5px;
    width: 90px;
    text-align: left;
    position:relative;
    background-color:#ffdcd1;
}
.jp-play-bar{
    background-color:#950E0E;
    height:5px;
    display:inline-block;
}
.progress-time{
    text-align:center
}
.jp-current-time,
.jp-duration{
    font-size:10px;
    font-weight:normal;
    display:inline-block;
}
.jp-duration{
    position:absolute;
    right:0;
}