.left0{
	left:0 !important;
}
.mar_l_7{
    margin-left:7px !important;
}
.mar_l_100 .x-form-item-label{
        margin-left:100px !important;
        zoom:1;
 }
.mar_t-2 .x-form-item-label{
	margin-top:-2px;
}
.mar_t-15{
	margin-top:-15px;
}
.mar_t-25{
	margin-top:-25px;
}
.mar_r5{
    margin-right:5px;
}
.search_style .mar_t-2 .x-form-required-field{
	/*width: 80px !important;*/
}
.width40_{
    width:40px !important;
}
.width40 .x-form-text{
	width:40px !important;	
}
.width40 .del_but{
	left:200px !important;
}
.width60{
    width:60px !important;
}
.width70{
    width:70px !important;
}
.width95 .x-form-text{
	width:95px !important;	
}
.width95 .del_but{
	left:255px !important;
}
.width100 .x-form-text{
	width:100px !important;	
}
.width100 .del_but{
	left:260px !important;
}
.width110 .x-form-text{
	width:214px !important;	
}
.width110 .del_but{
	left:275px !important;
}
.width200 .x-trigger-noedit {
    width: 200px !important;
}
.width228_f .x-trigger-noedit {
    width: 228px !important;
}
.width228_f .del_but{
	left:402px !important;
}
.search_style .width345{
	width:365px !important;
}
.search_style .width345 tr td .x-form-field{
	width:155px !important;
}
.search_style .width345 .x-btn{
	left:340px !important;
}
.search_style .width345 .x-form-trigger{
    margin-left: -55px !important;
}
.search_style fieldset .width380 tr td .x-form-field{
	width:180px !important;
}
.width300{
	width: 300px !important;
}
.width500{
	width:500px !important;
}
.width830 .x-field{
	width:830px !important;
}
.width809 .x-form-trigger-wrap{
	/*width:579px !important;*/
}
/*.ebook-list-grid */.width830 .x-btn{
    left:805px !important;
}

.card_tab .width120{
    width:120px !important;
}
.card_tab .width130{
    width:130px !important;
}
.card_tab .width150{
    width:150px !important;
}
.card_tab .width200{
    width:200px !important;
}
.width3p{
    width:3% !important;
}
.width5p{
    width:5% !important;
}
.width20p{
    width:20% !important;
}
.width45p{
    width:45% !important;
}