.x-menu-body{
	background-color: #F8EDD2 !important;
	border-color:#DCBB67;
}
.x-menu-item-active .x-menu-item-link{
	background-color:#F1DCA6 !important;
	background-image:none;
	border-color:#DCBB67;
}
.x-menu-item-arrow{
	background:url(../images/img/triangle_270_2.gif) no-repeat !important;
	top: 5px;
	height:20px;
}
/*main_link*/
.main_link td{
	width:50px;
	height:30px;
	padding: 3px 7px;
	font: bold 13pt Times New Roman,sans;
    text-shadow:none;
}
.main_link td a{
	font: bold 13pt Times New Roman, sans;
    text-decoration: none !important;
}
.srch a,
.srch label,
.srch td,
.srch a:visited{
	color:#fff !important;
	text-shadow:none;
}
.cnt{
	text-align: right;
}