body{
    margin: 0;
    padding: 0;
    background-position: center top;  
    background-size: 100% auto;  
    background-attachment:scroll;
}
a{
    cursor:pointer !important;
}
p{
    margin-top:10px;
    margin-bottom:10px;
}
srch hr{
    margin:2px 0 0 0;
}
hr {
    color: #F0C75F;
}
.x-disabled{
    opacity:0.4 !important;
}
.x-form-trigger,
.x-column-header-trigger{
	background:url(../images/img/arrow_select.png) no-repeat !important;
}
div.x-column-header{
	/*border: 1px solid #DCBB67 !important;*/
        border-color:#DCBB67;
}
.x-form-trigger-over,
.x-form-trigger-wrap-focus .x-form-trigger{
	background:url(../images/img/arrow_select2.png) no-repeat;
}
.search_style fieldset tr td .x-form-spinner-up{
	background:url(../images/img/arrow_navigate_up.png) no-repeat;
	width: 16px !important;
} 
.search_style fieldset tr td .x-form-spinner-down{
	background:url(../images/img/arrow_navigate_down.png) no-repeat;
	width: 16px !important;
}
.x-grid-row-over .x-grid-cell, 
.x-boundlist-item-over,
.x-grid-row-selected .x-grid-cell,
.x-grid-row-focused .x-grid-cell{
	background-color:#F8EDD2 !important;
}
.x-boundlist{
	border-color:#F1DCA6 !important;
}
#mainCont{
	margin:auto;
}
a, a:visited{
	color: #B92929;
}
.main_p input[type="password"], 
.main_p input[type="text"]{
	width:120px !important;
}
.x-container{
	background-color: transparent !important;
}
/*.x-btn,*/
.x-datepicker .x-btn,
.x-window.descVal .x-toolbar .x-btn,
.x-message-box .x-btn,
.x-box-inner .x-btn.btn_cls,
.search_style .x-box-inner .x-btn.btn_cls,
.srch .x-box-inner .x-btn-default-small,
.x-box-inner .x-btn-default-small.btn_cls,
.x-datepicker-footer .x-btn-default-small{
    background:url(../images/img/btn.png);
    height: 22px;
    width: 71px;
    border: medium none;
    border-radius: 0 0 0 0 !important;
    padding:2px;
}
.x-btn-default-small .x-btn-inner{
    color:#fff !important;
}
.srch_res .x-toolbar .x-btn,
.srch_res .x-toolbar .x-btn:hover,
.search_style .x-toolbar .x-btn,
.search_style .x-toolbar .x-btn:hover,
.card_page .x-toolbar .x-btn,
.card_page .x-toolbar .x-btn:hover{
	background:none;
}
.title_ a.x-btn{
	padding:2px !important;
}
.x-btn-default-small-noicon .x-btn-button{
	height:22px !important;
}
.x-box-inner .x-btn.btn_cls:hover,
.x-box-inner .x-btn-default-small.btn_cls:hover,
.x-box-inner .x-btn-default-small-over.btn_cls,
.btn_cls:hover{
	background:url(../images/img/btn_180.png);
	cursor:pointer;
}
.x-btn-default-toolbar-small.btn_cls .x-btn-inner,
.srch .x-box-inner .x-btn-default-small .x-btn-inner,
.x-box-inner .x-btn-default-small .x-btn-inner{
	color:#fff;
	height: 22px;
}
div.x-docked-top, 
.card div.x-docked-top{
	border: 1px solid #DCBB67;
        border-right:none !important;
	border-collapse: collapse;
}
.x-docked-top, 
.card .x-docked-top
.x-column-header-inner,
.x-column-header{
	background-color:#fff !important;
}
.x-form-trigger,
.x-form-field{
	border: 1px solid #C31515 !important;
    border-collapse: collapse;
    padding: 2px;
}
.foot_menu{
    float: left;
    margin-left: 90px !important;
    margin-top: -10px;
}
.x-panel-header-text-container{
    margin-left: 10px !important; 
}
.title_{
    padding: 20px 100px 0 0;
    background:url(../images/img/title_bg.png) repeat-x !important;
    background-size:auto 350px;  
}
.menu {
    text-align: center !important;
    width: 100% !important;
}
.el_arch{
	
}
.title_ a {
    padding: 10px 5px !important;
}
.menu a:hover{
	color: #fff;
	background-color:#C61919;
}
.menu_selected {
	background-color:#C61919;
	color:#fff !important;
}
.menu a:hover,
.menu_selected {
	border-radius:5px 5px 0 0;
	text-decoration: none;
	overflow: visible !important;
}
.srch{
	background:url(../images/img/search1.png) no-repeat center 100%;
}
.srch_all{
    background:url(../images/img/search.png) no-repeat center 100%;
    margin-top:40px;
}
.srch, 
.srch_all{
    background-size:100% 100% !important;
    left: 25px !important;
    width: auto !important;
    margin-right: 70px !important;
}
.srch div{
	text-align:center;
}
.srch p{
	margin:15px !important;
}
.srch_fld input,
.srch_fld .x-btn{
	zoom:1;
} 
.x-window-body .text_n{
	width: 98% !important;
	text-align:left ;
}
.x-window-body .text_n p{
	color:#000;
}
.srch_esc{
	margin-left: 450px !important;
}
.srch_link a,
.srch_esc a{
	margin:0 5px 0 0;
}
.x-container .news_block nobr{
	white-space: normal;
}
.x-container .news_block, 
.news_block_r{
	border:none;
	min-height: 50px;
}
.search_style .x-field-default-form-focus input{
	width: 75px !important;
}
.center_news table{
	width:auto !important;
}
.center_news table td{
	vertical-align:top !important;
	float: left;
	margin: 3px;
}
.center_news table td img{
	margin: 0 10px 0 0;
	border: 1px solid !important;
    max-height: 410px !important;
    max-width: 300px !important;
}
.news_block{
	left: 60px;
}
.news_block_r{
	overflow: hidden;
}
.news_block_r a:hover{
	color:#B20E0E;
}
.news_block h1,
.news_block_r h1{
	opacity:1;
	color:#000;
	border:none;
	height: 40px;
	padding:8px 25px;
}
.center_news h1{
	height: 50px;
	padding:8px 25px;
}
div.x-panel-header{
	background:url(../images/img/menu_descr.png);
	padding: 5px 0;/*need testing*/
}
.x-panel .x-panel .x-panel-header{
    background:none;
    border:none;
}
.x-panel .x-panel .srch_res{
    border-top:1px solid #dcbb67 !important;
}
.x-panel.x-abs-layout-item {
    border:1px solid #dcbb67;
}
.tematic-grid{
    overflow:auto !important;
}
/*.tematic-grid .x-panel-body .x-box-target{
    height:100%;
    width:99% !important;
    overflow-x:hidden;
    overflow-y:auto;
}*/

div.x-grid-header-ct-hidden{
    border:none;
}
span.x-panel-header-text{
    color:#000;
}
.login_box{
	margin: 0 -60px;
}
.login_box .x-panel label{
	color:#fff;
}
.login_box .x-panel-header{
	height:33px;
	padding: 7px 10px;
}
#newsContainer .login_box .x-panel-body input{
	display: block;
	margin-left:45px;
}
.login_box .x-form-item-body {
	padding:0 !important;
}
.login_box .x-panel-header-text{
	color:#fff !important;
	font-size: 10pt;
}
/*РєРЅРѕРїРєР°*/
.login_box .x-toolbar button {
	margin-left:0px;
}
.login_box .x-toolbar .x-btn{
	margin-left:-130px !important;
	background-color:#7D0707 !important;
	border: none;
	border-radius: 0 !important;
}
.login_box .x-toolbar .x-btn span{
	color:#fff !important;
	cursor: pointer;
}
.login_box .x-toolbar-footer{
	margin-top:0;
	padding: 7px 0;
}
.login_box .x-anchor-form-item{
	margin:20px 0 20px 80px !important;
}
.login_box .x-table-form-item {
	margin:20px 0 20px 80px;
}
.login_box .x-form-item-label-top{
	margin-left: -30px !important;
	max-width: 100px
}
.width50 .x-form-item-label{
	margin-top:-2px !important;
}
.login_box .x-form-text {
	margin-left: 50px;
	margin-top: -20px;
}
/*------*/
.foot{
	/*width:85%;*/
        position:absolute;
        right:60px;
        min-width:925px;      
	background:url(../images/img/footer.png) !important;
	height:20px;
	padding-left: 20px;
	margin-left:-10px !important;
	transform: skewX(-30deg);
	-moz-transform: skewX(-30deg);
	-ms-transform: skewX(-30deg);
	-o-transform: skewX(-30deg);
	-webkit-transform: skewX(-30deg);
}
.foot a{
    display: block;
    float: left;
    padding:0 5px;
    position: relative;
}
.foot a:hover{
    cursor: pointer;
}
.foot p{
    margin:0;
    padding-right: 30px !important;
    height:20px;
    overflow:hidden;
    text-align:right;
}
.foot .menu_selected{
	background-color:transparent;
	color:#B92929 !important;
}
.foot a b{
	transform: skewX(0deg);
	-moz-transform: skewX(0deg);
	-ms-transform: skewX(0deg);
	-o-transform: skewX(0deg);
	-webkit-transform: skewX(0deg);
}
.foot b{
	transform: skewX(30deg);
	-moz-transform: skewX(30deg);
	-ms-transform: skewX(30deg);
	-o-transform: skewX(30deg);
	-webkit-transform: skewX(30deg);
	color: #B20E0E;
    display: block;
    float: left;    
}
.news_cls tr td{
	padding: 5px;
	white-space: pre-wrap;
}
.news_cls,
.news_tb{
	margin:20px 70px 20px 20px;	
	top: 350px;
	width: auto;
}
.news_cls{
	margin-left:25px;
}
.text_n .news_tb{
	margin:20px 10px 20px 0px !important;
}
#newsContainer .news_cls td,
#newsContainer .news_tb td {
	padding:5px 90px;
	text-align: justify;
    white-space: pre-line;
}
.nsa td b i{
	display: block;
    padding: 15px 0;
    text-align: left;
}
.x-panel-header,
.search_style .x-panel-header span{
	color:#000;
	border:none;
}
.search_style .x-panel{
	padding:10px;
}
.search_style .x-panel-body{
	/*border: 1px solid #DCBB67 !important;*/
	opacity:1;
}
.search_style .arch_search .trigger380 tr td .x-form-trigger{
	margin-left: -20px;
}
.search_style .trigger380 .x-form-trigger{
	margin-left: 10px;
}
.search_style label{
	padding:5px 10px !important;
}
.search_style .x-form-trigger{
	position: relative;
}
.search_style fieldset{
	border: 1px solid #DCBB67 !important;
    left: 10px !important;
    width: 1225px !important;
}
.search_style .x-fieldset-body {
    width:1195px !important;
}
.search_style fieldset tr td .x-form-field[name="fondPrefix"],
.search_style fieldset tr td .x-form-field[name="fondLitera"],
.search_style fieldset tr td .x-form-field[name="opisLitera"],
.search_style fieldset tr td .x-form-field[name="deloLitera"]{
	width: 80px !important;
}
.search_style fieldset tr td .x-form-spinner-up,
.search_style fieldset tr td .x-form-spinner-down{
	display: block;
    left: -500px !important;
    position: relative;
}
.search_style .x-toolbar-default-docked-top,
.card_page .x-toolbar-default,
.ebook-list-grid .x-toolbar-default{
	background-color: #F1DCA6 !important;
	background-image: none !important;
}
.search_style .x-btn,
.ebook-list-grid .x-btn{
	background-color: #F1DCA6;
	border:none;
}
.add_but, .add_but:hover{
	background:url(../images/img/add_3506.png) no-repeat !important;
	width:24px !important;
	height:24px;
}
.del_but, .del_but_tab,
.del_but:hover, .del_but_tab:hover{
	background:url(../images/img/deletered_8284.png) no-repeat !important;
    width:16px;
    height:16px;
    top: 5px !important;
}
.del_but{
	margin-left: 2px !important;
}
.desc_nsa .del_but{
	left: 1200px !important;
    top: 15px !important;
}

.x-container .del_but_arch,
.x-container .del_but_arch:hover{
    background:url(../images/img/deletered_8284.png) no-repeat !important;
    width:16px;
    height:16px;
    top: 15px !important;
    left: 1210px !important;
}
.search_style .mar_t-2 ~ a.del_but{
   margin-left:5px !important;
}
.search_style .x-form-date-trigger{
	background:url(../images/img/calendar_week_6405.png) no-repeat !important;
	height: 16px !important;
    margin-top: 2px !important;
    margin-left: 5px;
}
.arch_search{
	position:relative !important;
	*width:1095px;
}
.desc_tab .x-grid-body{
    border:1px solid #DCBB67 !important;
}
.x-grid-with-row-lines .x-grid-cell{
	border: 1px solid #F1DCA6;
        border-left:none;
        border-top:none;
	cursor: pointer;
}
/*------РІС‹Р±РѕСЂ Р·РЅР°С‡РµРЅРёСЏ СѓРєР°Р·Р°С‚РµР»СЏ-----*/
.descVal{
	padding: 15px;
	height:500px !important;
}
.x-css-shadow{
	border: none !important;
	box-shadow: none !important;
}
.descVal{
	position:fixed !important;
}
.x-window{
	height:480px;
}
.descVal .x-panel-body,
.descVal .x-container {
	background:url(../images/img/background.png);
	border:none !important;
}
.descVal,
.x-window-header,
.descVal .x-box-inner,
.x-window-body,
.descVal .x-panel-header,
.descVal .x-panel-header-text-default,
.descVal .x-fit-item{
	background:url(../images/img/background.png);
	color:#C31515;
}
.x-window-body{
	border: none !important;
}
.x-window-body .x-panel-header-text-container{
    margin-left:0 !important;
}
.descVal .x-window-header{
	height: 30px;
	top: 5px !important;
}
.x-window-header-text{
	padding:10px;
}
.descVal{
	border: 1px solid #C31515;
}
.descVal .x-window-header,
.descVal .x-grid-view,
.descVal .x-grid-header-hidden{
	border: none !important;
}
.descVal .x-grid-body{
	border: 1px solid #DCBB67 !important;
        /*height: 199px !important;*/
}
.descVal .x-fit-item{
	height: 202px !important;
}
.descVal .x-grid-header-ct{
    border:none !important;
}
.descVal .x-panel{
	margin: 10px 0;
	/*height: 235px !important;*/
}
.x-window-body .x-container .x-box-inner .x-panel-body .x-grid-view{
	height: 126px !important;
}
.x-window-body div.x-docked-top{
    border-right:1px solid #dcbb67 !important;
}
.descVal label{
	margin:0 0 10px 5px;
}
.body_pages .x-tool{
    left:5px !important;
}
.body_pages .x-tool img{
    background-position:0 50% !important;
}
.x-tool .x-tool-close {
	background:url(../images/img/deletered_8284.png) no-repeat !important;
	margin-left:-10px;
}
.x-tool-collapse-top{
	background:url(../images/img/triangle_270_2.png) no-repeat !important;
}
.x-tool-expand-bottom{
	background:url(../images/img/triangle2.png) no-repeat !important;
}
.x-body .x-window .x-window-body .x-container .x-box-inner .x-panel .x-panel-header .x-panel-header-body .x-box-inner div .x-tool{
	left:0 !important;
}
.descVal .x-panel-header-text{
	padding-left: 15px;
}
.descVal .x-toolbar{
	top: 454px !important;
}
.descVal .x-closable{
	height:400px !important;
	margin-top: 20px !important; /*!!!!*/
}
.descVal textarea{
	height:33px !important;
}
/*РёРєРѕРЅРєРё РґРµСЂРµРІРѕ*/
.x-tree-node-text{
    display:inline-block;
    vertical-align:middle;
    padding:2px 0;
}
.x-grid-tree-node-expanded .x-tree-icon-parent,
.x-tree-icon-parent{
	background:url(../images/img/book_open_3.png) no-repeat !important;
	width: 24px;
	height:24px;
}
.x-tree-icon-leaf{
	background:url(../images/img/doc_tree.png) no-repeat !important;
}
.x-tree-icon-parent{
	margin-left: -5px;
}
.x-tree-lines .x-tree-elbow-end-plus,
.x-tree-lines .x-tree-elbow-plus{
	background:url(../images/img/triangle_270_2.png) no-repeat !important;
	margin: 3px;
}
.x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-end-plus{
	background:url(../images/img/triangle2.png) no-repeat !important;
	margin: 3px;
}
/*СЃРѕРѕР±С‰РµРёРµ РѕР± РѕС€РёР±РєРµ*/
.x-message-box {
	background: url("../images/img/background.png");
	border-color: #C31515;
	min-height: 150px !important;
	height: auto !important;
}
.x-message-box .x-window-header{
	position:relative !important;
	margin-left:-4px !important;
	margin-top:-4px !important;
}
.x-message-box .x-docked{
	position: static !important;
}
.x-message-box .x-window-body{
	top:5px !important;
}
.x-message-box .x-container .x-form-display-field{
	text-align: center !important;
    width: 220px !important;
    height:auto;
}
/*****************************************/
/*.x-nlg */.x-column-header,
.x-column-header-over{
	background-image:none !important;
	background-color:#fff !important;
}
.x-column-header-sort-DESC .x-column-header-text{
	background:url(../images/img/triangle2_180.png) right bottom no-repeat !important;
}
.x-column-header-sort-ASC .x-column-header-text{
	background:url(../images/img/triangle2.png) right top no-repeat !important;
}
/*СЂРµР·СѓР»СЊС‚Р°С‚С‹ РїРѕРёСЃРєР°*/
.srch_res{
    border-color:#DCBB67 !important;
    left:0;
}
div.x-panel-body-default{
    border:none;
}
.x-panel-body-default,
.x-grid-view-default{
    border-color:#DCBB67 !important;
}
.x-grid-table{
    border-leftt:1px solid #DCBB67;
    border-right:1px solid #DCBB67;
    margin-top:-1px;
}
.x-docked-bottom,
.x-toolbar .x-toolbar-separator-horizontal{
	border-color:#DCBB67 !important;
}
.srch_res .x-grid-row .x-grid-cell,
.srch_res .x-column-header{
	padding: 3px;
	cursor: pointer;
}
.srch_res .x-column-header{
    border-bottom: 1px solid #DCBB67;
    border-top: none !important;
}
.srch_res .x-grid-row .x-grid-cell-inner a{
	width:24px;
	height: 24px;
}
.x-toolbar-default,
.elib_list .x-toolbar-default,
.x-nlg .x-panel-default .x-toolbar-default,
.x-nlg .search_style .x-toolbar-default,
.x-nlg .x-window .x-toolbar-default{
	background-color:#F8ECCE !important;
	background-image:none !important;
	border: none !important;
}
/*РїР°РЅРµР»СЊ РЅР°РІРёРіР°С†РёРё*/
.srch_res .x-btn,
.card_page .x-btn,
.x-toolbar-default .x-btn{
	display: block;
	width: auto;
}
.x-tbar-page-first,
.x-tbar-page-first.x-btn-default-small-over{
	background: url(../images/img/old-go-first_4025.png) no-repeat !important;
}
.x-tbar-page-last,
.x-tbar-page-last.x-btn-default-small-over{
	background: url(../images/img/old-go-last_8561.png) no-repeat !important;
}
.x-tbar-page-prev,
.x-tbar-page-prev.x-btn-default-small-over{
	background: url(../images/img/old-go-previous_8642.png) no-repeat !important;
}
.x-tbar-page-next,
.x-tbar-page-next.x-btn-default-small-over{
	background:url(../images/img/old-go-next_6973.png) no-repeat !important;
}
.x-tbar-page-first,
.x-tbar-page-last,
.x-tbar-page-prev,
.x-tbar-page-next{
	margin-top: 2px !important;
	width:24px !important;
        background-color:transparent !important;
}
.x-tbar-page-first.x-btn-default-small-over,
.x-tbar-page-last.x-btn-default-small-over,
.x-tbar-page-prev.x-btn-default-small-over,
.x-tbar-page-next.x-btn-default-small-over{
        background-color:transparent !important;      
}
.x-tbar-loading{
	background-image:url(../images/img/system-software-update_6651.png) !important;
}

.card_page{
	margin-top: 10px;
}
.card_page .x-panel-body-default{
	border-color: #D0990D;
	background:#FDF2DE;
}
.card{
	left:30px !important;
        right:30px !important;
        width: auto !important;
}
.card div{
    border: none !important;
}
.card div h2{
	color: #A91010;
    margin:-10px auto 10px;
    text-align:center;
    text-decoration: none;
    text-decoration: none;
    width: 600px;
}
.card_tab{
    height: auto !important;
    width: 600px;
    margin: 15px auto;
    border-collapse:collapse;
}
.card_tab th{
    color:#A91010;
}
.card_tab td,
.card_tab th{
	width:400px;
	height:20px;
	padding:3px;
	border: 1px solid #D0990D;
	word-wrap: break-word;
}
.appl.card_tab td,
.appl.card_tab th{
    width:auto;
}
.appl.card_tab td:nth-child(1),
.appl.card_tab th:nth-child(1){
    width:100px;
}
.card_tab td:first-child,
.card_tab.appl tr.appl_header td{
    color: #A91010;
    width: 200px;
}
.card_tab.appl td:first-child{
    color:#000;
}
.card_tab td p{
	color: #000000;
    max-width: 590px;
}
.card .link_panel{
	background: url("../images/img/link_panel.png") repeat-y;
	background-size: 100% auto;
	border:1px solid #D0990D !important;
	padding: 10px;
	margin: 10px 0;
        width:95%;
}
.card .link_panel p,
.card .link_panel a{
	padding:5px 0;
}
.gridHeaderBaseCls{
	background:url(../images/img/menu_descr.png) !important;
}
label.childsGridParentLabel{
    color:#000 !important;
    margin-top: 0px !important;
    /*padding: 5px !important;*/
    position:relative !important;
    max-width:65%;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    display:inline-block;
}
/*проблема с переносом строки в шапке*/
.card_page,
.childsGridParentLabel,
.back_ress-toolbar{
    left:0 !important;
    margin-right:10px !important;  
    padding-bottom:5px !important;
    display:inline-block;
    position:relative !important;    
}
.childsGridButtons,
.back_ress-toolbar{
    top:-7px !important;
}
/**/
.card_page .x-btn button,
.childsGridButtons{
	width: auto !important;
}
.childsGridButtons-center,
.childsGridButtons_up-center{
	margin-left: 10px !important;
	padding-left:30px !important;
}
.childsGridButtons-center:hover,
.childsGridButtons_up-center:hover{
	cursor: pointer;
}
/*scroll*/
.text_n{
    overflow: hidden;
    margin: 25px 10px 0 10px;
}
.exh_cls.text_n{
    margin-top:0;
    margin-right:70px;
    width:auto !important;
}
.tematic_content .text_n{
    margin-top:0;
    margin-right:-10px;
}
.x-window-body .text_n{
	margin: 0px 10px;
}
.text_n .x-container td p{
	margin:5px 15px;
    text-align: justify;
    background-color: #fff;
}
.text_n .left_exh p{
	margin: 0;
    padding: 15px 10px;
    text-align: left;
    background-color: #F1DCA6;
    border-bottom: 1px solid #eee;
}
.left_exh{
    margin-left:5px;
}
.right_exh{
    right:16px !important;
    margin-left:15px !important;
}
.right_exh table{
    width:100% !important;
}
.x-btn .x-btn-center .x-btn-inner{
	color:#fff;
	text-shadow: none;
}
.search_style .x-toolbar{
	border: none;
}
.search_style #toolbar-1038{
	background-color: #FFFFFF !important;
}
.search_style .ebook-list-grid tr td .x-form-field{
	width:auto !important;
	margin-left: 0 !important;
}
.x-window label {
    margin: -1px 0 5px 15px !important;
}
.tematicChapters p{
    margin-top:3px;
}
.tematicChapters p a,
.tematicChapters div{
	background-color: #F1DCA6;
	border: 1px solid #A91010;
	border-collapse: collapse !important;
    padding: 5px;
    color:#CD7559;
    display:block;
}
.tematicChapters p a{
    text-decoration:none;
    color:#A91010;
}
.tematicChapters p:hover{
	margin-left: 20px !important;
	display:block;
}
.tematicSections{
    margin-left:25px;
}
.tematicChapters p a:hover,
.tematicSectionSelected{
    background-color:#A91010 !important;
    color:#F1DCA6 !important;
}
.tematicChapters p:hover a{
    color:#F1DCA6 !important;
    text-decoration: none;
}

/*---*/
blockquote{
	margin:5px 0 !important;
}
blockquote p{
	text-align:justify;
}
.news_chap blockquote div,
div.right_exh{
	border:#ddd2b7 1px solid;
	padding-bottom:10px;
	background-color:#fcfbf8 !important;
	margin: 0 0 5px 0;						
	padding:10px;
}
.news_chap blockquote div b,
.news_chap blockquote div b i{
	color: #4E4E4E;
    display: block;
    padding: 10px;
}
.news_chap blockquote div p b{
	color: #4E4E4E;
    display: inline;
    padding: 0 3px 10px 15px;
}
.news_chap blockquote div p,
.center_news p,
.text_n p{
	padding: 3px 5px;
	text-align:justify;
}
.text_n p{
    margin-left:5px !important;
    margin-right:5px;
}
.text_n blockquote{
    margin-left:0 !important;
}
.text_n > span:last-child{
    margin-left:10px;
}
.news_chap blockquote div div{
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
}
/*пїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅпїЅ пїЅпїЅпїЅпїЅпїЅпїЅпїЅ*/
.x-column-header-inner .x-column-header-text {
	white-space: normal !important;
	line-height: 15px;
}
.x-column-header-inner{
	padding:0 !important;
	padding-top:3px !important;
}
.srch label {
    text-align: left;
}
.srch td {
    padding-left: 10px;
}

/*FOR OPERA!!!!!!*/

noindex:-o-prefocus, .menu{
	margin-top:15px !important;
}
noindex:-o-prefocus, .main_link{
	margin-top:10px !important;	
}
/*/*/

.x-tree-arrows .x-tree-expander-over .x-tree-elbow-plus,
.x-tree-arrows .x-tree-expander-over .x-tree-elbow-minus,
.x-tree-arrows .x-tree-expander-over .x-tree-elbow-end-plus,
.x-tree-arrows .x-tree-expander-over .x-tree-elbow-end-minus,
.x-tree-arrows .x-tree-elbow-plus,
.x-tree-arrows .x-tree-elbow-minus,
.x-tree-arrows .x-tree-elbow-end-plus,
.x-tree-arrows .x-tree-elbow-end-minus{
	background-image: url("../images/img/triangle_270_2.png");
	width:21px;
	margin-top:2px;
}
.x-tree-arrows .x-grid-tree-node-expanded .x-tree-expander-over .x-tree-elbow-plus,
.x-tree-arrows .x-grid-tree-node-expanded .x-tree-expander-over .x-tree-elbow-minus,
.x-tree-arrows .x-grid-tree-node-expanded .x-tree-expander-over .x-tree-elbow-end-plus,
.x-tree-arrows .x-grid-tree-node-expanded .x-tree-expander-over .x-tree-elbow-end-minus,
.x-tree-arrows .x-grid-tree-node-expanded .x-tree-elbow-plus,
.x-tree-arrows .x-grid-tree-node-expanded .x-tree-elbow-minus,
.x-tree-arrows .x-grid-tree-node-expanded .x-tree-elbow-end-plus,
.x-tree-arrows .x-grid-tree-node-expanded .x-tree-elbow-end-minus{
	background-image: url("../images/img/triangle2.png");
	width:21px;
}
.x-grid-header-hidden .x-grid-body{
	border-color:#DCBB67;
}
.x-column-header-inner {
    padding: 6px 6px 5px !important;
}
.desc_nsa .x-layout-fit{
    margin-top: 0 !important;
}
.desc_nsa .x-toolbar-default-docked-top{
    border:1px solid #DCBB67 !important;
}
.search_style .x-container.x-box-item.x-container-default.x-box-layout-ct,
.search_style .x-container.x-box-item.x-container-default.x-box-layout-ct .x-box-inner {
    height:25px !important;
}


/*!!!!!!!!!!Р‘РћР Р¬Р‘Рђ РЎРћ РЎРљР РћР›Р›РћРњ!!!!!!!!!*/


/*РѕСЃС‚Р°С‚РєРё РѕС‚ Р·Р°С‡РёСЃС‚РєРё (РІСЂРµРјРµРЅРЅРѕ Р·РґРµСЃСЊ)*/
.nsa{
	top: 330px !important;
}
/**/
#main_container,
#sys-viewport, 
#sys-viewport-innerCt{
    overflow:visible !important;
}
#sys-viewport{
    margin-bottom:20px;
}
.mar_t-25 > .x-toolbar-docked-bottom{
    margin-bottom:30px;
}
#foot_container{
    bottom: 0;
    height: 20px;
    position: fixed;
    width: 100%;
    z-index: 99999999;
}