<div>
	#if ($annopath)
		#set($audiofile = "$us_path_audio$annopath") 
	#else 
		#set($audiofile = "") 
	#end
	#set($player = "unit$unitid")
	#set($title = "$unittitle")
	#parse("include/audioplayer.html")
	#set($title = "")
</div>
#if ($annos.size() != 0)
<table class="ann_tab card_tab">
	<thead>
		<tr>
			<th>$phonodocUnitView_un</th>
			<th>$phonodocUnitView_pn</th>
			<th>$phonodocUnitView_side</th>
			<th>$phonodocUnitView_anno</th>
			<th>$phonodocUnitView_speaker</th>
			<th>$phonodocUnitView_lang</th>
			<th>$phonodocUnitView_time</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		#foreach ($anno in $annos) 
		<tr>
			<td class="cntr-align width5p">$unitnumber</td>
			<td class="cntr-align width5p">$!anno.number</td>
			<td class="cntr-align width5p">$!anno.sideTrack</td>
			<td class="width45p">$!anno.annotation</td>
			<td class="width20p">$!anno.speaker</td>
			<td class="width5p">$!anno.language.fullValue</td>
			<td class="cntr-align width5p">$anno.formattedTime</td>
			<td class="cntr-align width20p">
				#if ($anno.path.fileName)
					#set($audiofile = "$usa_path_audio$anno.path.fileName") 
				#else
					#set($audiofile = "") 
				#end
				#set($player = "anno$anno.id")
				#parse("include/audioplayer.html")
			</td>
		</tr>
		#end
	</tbody>
</table>
#end
