<table align="center" border=1 class="card_tab">
	<tr><td>$fundView_FundType</td><td>$v_fund_type</td></tr>
	<tr><td>$fundView_SeriesCount</td><td>$v_series_count</td></tr>
	<tr><td>$fundView_DataUnitsCount</td><td>$v_store_unit_count</td></tr>
    #if($v_annotation)
        <tr><td colspan="2">$fundView_Annotation</td></tr>
        <tr><td colspan="2"><p>$v_annotation</p></td></tr>
	#end
	<tr><td colspan="2">$fundView_Note</td></tr>
	<tr><td colspan="2"><p>$v_comment</p></td></tr>
	<tr><td colspan="2">$fundView_HistoricalInfo</td></tr>
	<tr><td colspan="2"><p>$v_history_info</p></td></tr>
</table>