<table align="center" border=1 class="card_tab">
	<tr><td>$seriesView_DocsType</td><td>$v_series_type</td></tr>
	<tr><td>$seriesView_Name</td><td>$v_series_name</td></tr>
	<tr><td>$seriesView_UnitsAmount</td><td>$v_data_unit_amount</td></tr>
    #if($v_annotation)
        <tr><td colspan="2">$seriesView_Annotation</td></tr>
        <tr><td colspan="2"><p>$v_annotation</p></td></tr>
	#end
	<tr><td>$seriesView_CopyMethod</td><td>$v_copy_method</td></tr>
	<tr><td colspan="2">$seriesView_Note</td></tr>
	<tr><td colspan="2"><p>$v_series_comment</p></td></tr>
</table>