<div class="link_panel">
	#if ($imgcount!=0)
	<p>Количество графических образов <a href="#showunit&id=$id;tab=img">$imgcount</a></p>
	#else
	<p>Количество графических образов $imgcount</p>
	#end
	
	#if ($childscount!=0)
	<p>Содержит <a href="#tematicchilds&rootId=$id">$childscount</a> дочерних элементов </p>
	<a href="#tematicchilds&rootId=$id">Переход на следующий уровень -></a>
	#end
</div>