<div class="link_panel">
	#set($count=0)
	#foreach ($url in $allurls)
	#set($count=$count+1)
	#if ($url.getUrl()!="")
	<a href="$!url.getUrl()">$url.getName()</a>
		#if ($count!=$allurls.size())
		/
		#end
	#else
	$url.getName() 
		#if ($count!=$allurls.size())
		/
		#end
	#end
	#end
</div>