﻿<h2>$v_du_name</h2>
<table align="center" border=1 class="card_tab">
	<tr><td>$unitType</td><td>$v_du_description_level</td></tr>
	<tr><td>$unitView_ArchiveCode</td><td>$!v_du_archive_code</td></tr>
</table>