<table id="date_card" class="card_tab" width="100%" >
	<tr><td colspan="2">Крайние даты</td></tr>
	#foreach( $dateInt in $dateList)
	<tr><td style="color:#000 !important; font-weight:normal;">$dateInt.getPrintableBeginDate()</td><td>$dateInt.getPrintableEndDate()</td></tr>
	#end
</table>