#if ($applList.size() > 0)
<table class="appl card_tab">
    <tr class="appl_header"><td colspan="4">Приложения к документу</td></tr>
    <tr>
        <th class="width40_">№</th>
        <th>Название приложения</th>
        <th class="width70">Листы</th>
        <th class="width60">Кол-во листов</th>
    </tr>
    #foreach($appl in $applList)
    <tr>
        <td class="centr_align width40_">
            #if ($appl.getApplNumber())
                $appl.getApplNumber()
            #end
        </td>
        <td>
            #if ($appl.getApplName())
                $appl.getApplName()
            #end
        </td>
        <td class="centr_align width70">
            #if ($appl.getPages())
                $appl.getPages()
            #end
        </td>
        <td class="centr_align width60">
            #if ($appl.getPagesQuantity())
                $appl.getPagesQuantity()
            #end
        </td>
    </tr>
    #end
</table>
#end
<table class="card_tab">
    <tr><td>$docView_Lang</td><td>$doc_lang</td></tr>
     #if($v_annotation)
        <tr><td colspan="2">$docView_Annotation</td></tr>
        <tr><td colspan="2"><p>$v_annotation</p></td></tr>
     #end
</table>