<table class="card_tab">
#if ($ebook_href!="")
<tr><td colspan="2"><p><a href="$ebook_href" target="_blank" class="read_book">Читать книгу</a></p></td></tr>
#end
<tr><td>$ebookView_Author</td><td>$ebook_author</td></tr>
<tr><td>$ebookView_editor</td><td>$ebook_editor</td></tr>
<tr><td>$ebookView_compilers</td><td>$ebook_compilers</td></tr>
<tr><td>$ebookView_editorialBoard</td><td>$ebook_editorialBoard</td></tr>
<tr><td>$ebookView_volume1Info</td><td>$ebook_volume1Info</td></tr>
<tr><td>$ebookView_atopData</td><td>$ebook_atopData</td></tr>
<tr><td>$ebookView_lang</td><td>$ebook_lang</td></tr>
<tr><td>$ebookView_editionType</td><td>$ebook_editionType</td></tr>
<tr><td>$ebookView_Publisher</td><td>$ebook_publisher</td></tr>
<tr><td>$ebookView_PublPlace</td><td>$ebook_publication_place</td></tr>
<tr><td>$ebookView_seriesName</td><td>$ebook_seriesName</td></tr>
<tr><td>$ebookView_seriesInfo</td><td>$ebook_seriesInfo</td></tr>
<tr><td>$ebookView_PublYear</td><td>$ebook_publication_year</td></tr>
<tr><td>$ebookView_PublVolume</td><td>$ebook_volume</td></tr>
<tr><td>$ebookView_ISBN</td><td>$ebook_isbn</td></tr>
<tr><td>$ebookView_UDC</td><td>$ebook_udk</td></tr>
<tr><td>$ebookView_bbk</td><td>$ebook_bbk</td></tr>
#if($v_annotation)
    <tr><td colspan="2">$ebookView_Annotation</td></tr>
    <tr><td colspan="2"><p>$v_annotation</p></td></tr>
#end
<tr><td colspan="2">$ebookView_Note</td></tr>
<tr><td colspan="2"><p>$ebook_note</p></td></tr>
#if ($ebook_href!="")
<tr><td colspan="2"><p><a href="$ebook_href" target="_blank" class="read_book">Читать книгу</a></p></td></tr>
#end
</table>
