<div class="news_cls">
<blockquote width="100%">
#foreach( $news in $newsList)
<div><i>$news.news.printableDate()</i>
#if ($news.pageName!="")
<b><i>$news.pageName</i></b>
#end
$news.getPageData()</div>
#end</blockquote>
<hr><p>$p_page: $p $p_from $pcount : $pageLinks</p></div>