<a onclick="window.vp.navigate(this.href)" id="aboutProject" 	 href="#aboutproject">$ABOUT_PROJECT</a>
<a onclick="window.vp.navigate(this.href)" id="members" 		 href='#members'>$members</a>
<a onclick="window.vp.navigate(this.href)" id="aboutSite" 		 href="#aboutsite">$ABOUT_SITE</a>
<a onclick="window.vp.navigate(this.href)" id="usingConditions"  href="#usingconditions">$portal_using_conditions</a>
<a onclick="window.vp.navigate(this.href)" id="help"			 href="#help">$sys_help</a>
<a onclick="window.vp.navigate(this.href)" id="feedback" 		 href="#feedback">$feedback</a>
<p align="left">$copyright</p>







