<table class="card_tab">
    <tr><td>$phonodocView_Date</td><td>$phonodoc_date</td></tr>
##    <tr><td>$phonodocView_Lang</td><td>$phonodoc_lang</td></tr>
    <tr><td>$phonodocView_Author</td><td>$!phonodoc_author</td></tr>
    <tr><td>$phonodocView_Place</td><td>$!phonodoc_place</td></tr>
</table>
<table class="card_tab">
    <tr><td>$phonodocView_AnnotationDoc</td></tr>
    <tr><td><p>$!phonodoc_anno_doc</p></td></tr>
</table>
<table class="card_tab">
    <tr><td>$phonodocView_AnnotationPres</td></tr>
    <tr>
		<td>
			#foreach( $unit in $phonodoc_units )
			<a href="#showunit&id=$unit.id;tab=panno" class="phondoc_unit">$phonodocView_unit$unit.fullNumber</a>
			#end
		</td>
	</tr>
</table>
