#if ($refs.size() > 0)
<table class="card_tab">
    <tr><td>См. также</td></tr>
    #foreach($ref in $refs)
    <tr><td><a href="#showunit&id=$ref.getUnitIdLinked()&isRef=ssylka" target="_blank">$ref.getUnitFullName()</a></td></tr>
    #end
</table>
#end