<div width="100%" class="news_tb">
<blockquote width="95%">
<div>
<i>$singlenews.news.printableDate()</i>

#if ($singlenews.pageName!="")
<b>$singlenews.pageName</b>
#end

<p>$singlenews.getPageData()</p>

</div>
</blockquote></div>