<table class="card_tab">
	<tr><td>$storUnitView_DocsLang</td><td>$su_docs_language</td></tr>
    #if($v_annotation)
        <tr><td colspan="2">$storUnitView_Annotation</td></tr>
        <tr><td colspan="2"><p>$v_annotation</p></td></tr>
    #end
</table>