<div class="tematicChapters">
	#foreach( $section in $sectionList)
	<p>
		#if($section.getHasRoots())
			<a onclick="window.vp.navigate(this.href)" href="#!tematicsection&sectionId=$section.getId()" id="$section.getId()">
			$section.getName()</a>
		#else
			<div>
				$section.getName()
			</div>
		#end
	</p>
	#end
</div>