<div class="lk">
	<h1> Раздел "Личный кабинет" доступен только для зарегистрированных пользователей.</h1>
	<p><a href="#userreg" onclick="window.vp.navigate(this.href)">Регистрация</a></p>
	<p>Для входа в систему введите логин/пароль</p>
</div>