<div class="login_box">
	<h1></h1>
	<p>
		<a onclick="window.vp.navigate(this.href); return false;" id="changeaccountinfo" href="#!changeaccountinfo">Редактирование персональных данных</a>
	</p>
	<p>
		<a onclick="window.vp.navigate(this.href); return false;" id="chpass" href="#!chpass">Изменение пароля</a>
	</p>
	<p>
		<a onclick="window.vp.navigate(this.href); return false;" id="feedback" href="#!feedback">Обратная связь</a>
	</p>
	<p>
		<a id="u3" href="UsersManager?action=logout">Выход</a>
	</p>
</div>